.Top {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 100%;
    box-sizing: border-box;
}

.Top div {
    padding: 10px;
    border:1px solid black;
    background:#fff;
}