.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
}

.Auth > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.Auth h1 {
    color: #fff;
    text-align: center;
}

.Auth button {
    margin-bottom: 10px;
}
