.Menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 88px 10px;
  box-sizing: border-box;
  background: rgb(64 100 138);
  transform: translateX(0px);
  transition: transform 0.22s ease-in;
  z-index: 100;
}

.Menu.close {
  transform: translateX(-300px);
}

.Menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menu ul li {
  margin-bottom: 15px;
}

.Menu ul li a {
  color: rgb(19 7 7);
  font-size: 30px;
  text-decoration: none;
  position: relative;
  padding: 0 20px 10px 20px;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
}

.Menu ul li a i {
  /* color: rgb(94, 178, 252); */
}

.Menu ul li a:hover,
.active {
  opacity: 0.7;
}

.Menu ul li:first-child div {
  margin-left: 12px;
}
.Menu ul li:nth-child(2) div {
  margin-left: 10px;
}
.Menu ul li:nth-child(3) div {
  margin-left: 23px;
}
.Menu ul li:nth-child(4) div {
  margin-left: 16px;
}

.Profile {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.Change_Profile {
  text-align: center;
  margin: 10px 0 20px 0;
}

.Change_Profile a {
  color: rgb(11, 12, 12);
}