.Song {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .Song_row:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
      } */

.Song_row{
    width: 45%;
display: flex;
justify-content:space-between;
align-items: center;
border-bottom: 1px solid grey;
}

.Name_Song {
    display: flex;
    flex-direction: column;
    width: 80%;
}