.Cards {
    z-index: 5;
  display: flex;
  align-items: center;
  height: 400px;
}

.Cards img {
  width: 400px;
  height: 300px;
}

.Cards_row {
  display: flex;
  flex-direction: column;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  opacity: 1;
  transition: 0.6s ease all; 
  cursor: pointer;
}

.Cards_row:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        padding-bottom: 15px;
}

.Card_title {
    font-size: 50px;
    border: 2px solid grey;
    border-top: none;
    background: #fff;
    opacity: 0.6;
}
